{% extends 'base.html' %}

{% block title %}
  Ostore Quick installation guide
{% endblock %}

{% block content %}
<div class="container" style="margin-top:80px;">
    <p>After downloading the project from the provided link.. Navigate to the project directory , in the same folder as you app.py</p>            
    <div class="section" id="installation">
        <span id="id1"></span><h1>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h1>
        <p>Install project requirements by running,</p>
            <code>&lt;pip install -r requirements.txt.&gt;</code> 
    </div>
         


     <h4>Run the program</h4>
     <p>You can run the program by running the following command:</p>
          <code>&lt;python app.py.&gt;</code> 
      <h3>Enjoy !!!</h3>
          
    <h4>Not satisfied ?</h4>
    <a href="https://github.com/saidjillo/Flask-rest-api" class="btn btn-primary btn-lg">READ MORE</a>

</div>
<hr>
{% endblock %}
