{% extends 'base.html' %}

{% block title %}
    Junior Full stack web developer | Said Umuru Jillo
{% endblock %}

{% block content %}
<div class="container" style="margin-top:80px;">
   <div class="row">
      <div class="col col-md-3">
          <div class="prof-view">
              <div class="prof-view__pic">
                    <img src="{{url_for('static', filename='img/bg_prof.png')}}" alt="background image" id="img-1">
                    <img src="{{url_for('static', filename='img/said.jpg')}}" alt="Said Umuru Jillo" id="img-2">
              </div>
              <div class="prof-view__details" style="margin-top:2%;">
                   <div class="card">
                       <h5 class="card-title text-center">University of Nairobi</h5>
                       <div class="card-body">
                          <p class="card-text text-center">Bsc.Microprocessor technology and Instrumentation</p>
                          <b>contact me:</b><br />
                          Eastleigh Nairobi, Kenya<br />
                          Phone: +254740169448<br />
                          <a href="mailto:umurjillo@gmail.com">umurjillo@gmail.com</a><br />
                       </div>
                   </div>
             
              </div>
          </div>
      </div>
      <div class="col col-md-6">
        <h3>Said Umuru Jillo</h3>
        <p>I'm a Django developer that is passionate about building quality web applications. I like building web applications .</p>

        <h4>SKILLS</h4>
          <span class="badge badge-info">Python</span>
          <span class="badge badge-primary">Javascript</span>
          <span class="badge badge-success">Python Django</span>
          <span class="badge badge-info">Python Flask</span>
          <span class="badge badge-warning">HTML/css/sass/Bootstrap/Jquery</span>
          <span class="badge badge-danger">Angular</span>

          <h3>Jillo is highly looking for job as a junior web developer</h3>
      </div> 
      <div class="col col-md-3"></div>
   </div>
</div>
<hr>
{% endblock %}